.modal-container {
    width: 100vw;
    display: none;
    position: fixed;
    top: 30px;
    z-index: 999;
    justify-content: center;
    align-items: center;
  }
  
  hr {
    border: 0px;
    border-top: 1px solid rgb(0, 0, 0);
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: rgb(187, 187, 187);
    border-radius: 10px;
    width: 80%;
  }
  
  .active {
    display: flex;
  }
  
  .active .modal {
    animation: modal .4s;
  }
  
  @keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  /* p {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    font-size: medium;
  }
 */
  .btns {
    display: flex;
    justify-content: right;
    margin-top: 10px;
  }
  
  .btns button, .btnSim {
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .btnSim {
    background-color: red!important;
    margin-right: 5px;
  }
  
  .btnNao {
    background-color: blue!important;
  }
  
  @media (max-widht: 500px) {
    .modal {
      padding: 10px;
      width: 80%;
    }
    .btns button {
      font-size: smaller;
    }
  }
  